	<div class="banner">
	<!-- start slider -->
       <div id="fwslider">
         <div class="slider_container">
            <div class="slide"> 
                <!-- Slide image -->
               <%= image_tag("Empty_Home.jpg", :class => "img-responsive") %>
                <!-- /Slide image -->
                <!-- Texts container -->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <!-- Text title -->
                        <h1 class="title" style="color: black"><br><br>Drive in here</h1>
                        <!-- /Text title -->
                    </div>
                </div>
               <!-- /Texts container -->
            </div>
            <!-- /Duplicate to create more slides -->
            <div class="slide">
               <%= image_tag("Full_Home.jpg", :class => "img-responsive")%>
               <!--img src="web/images/slider2.jpg" class="img-responsive" alt=""/-->
                <div class="slide_content">
                    <div class="slide_content_wrap">
                        <h1 class="title" style="color: black; text-align: center"><br>Drive out with furniture</h1>
                       	<!--div class="button"><a href="#">See Details</a></div-->
                    </div>
                </div>
            </div>
            <!--/slide -->
        </div>
        <div class="timers"></div>
        <div class="slidePrev"><span style='background:url(<%=image_path('img_sprite.png')%>);width: 72px; height: 128px; float: left; background-position:-10px -243px; background-repeat: no-repeat; cursor: pointer'></span></div>
        <div class="slideNext"><span style='background:url(<%=image_path('img_sprite.png')%>);width: 72px; height: 128px; float: left; background-position:-105px -243px; background-repeat: no-repeat; cursor: pointer'></span></div>
       </div>
       <!--/slider -->
      </div>
	  <div class="main">
	</div>
	<div class="main" style="background-color:black">
	  <br>
		<div class="container">
			<div class="row content_bottom-text">
			  <div class="col-md-12">
				<h2 style="color:white;text-align:center;font-size:3em;font-weight:800; margin-bottom:3%;margin-top:3%"> Furnish your home in 3 quick steps</h2>
				<p class="m_1" style="color:white; text-align: center; font-size: 1.45em">Drive Thru to match your styles and preferences and select furniture that can be ordered to your home. No more browsing through hundreds of stores to search for the furniture that's right for you! Save hours walking around furniture stores and hauling bulky items up several floors.</p>
			  </div>
			</div>
		</div>
	</div>
	<div class="features" style="padding-top: 3%; padding-bottom: 3% !important">
	  <div class="container">
      <div class='banner_button'>
        <a style="background-color: #bdb099;background-repeat:no-repeat; background-position:70%; background-size:100%;font-size: 100%" href="<%=shop_path()%>">
        <h2 style="color:white;text-align:center;font-size:2em;font-weight:800; margin-bottom:3%;margin-top:3%"> Click to Shop Now</h2> 
        </a>
        </div>
	    
		 </div>

	    <br><br><br>
	    
	    <!--=button_to "Drive Thru!", shop_path() --> 
        

	    <!--div class="button"><a style="margin-left: 0%" href="<%= shop_path() %>">Drive Thru!</a></div>
	    <div class="features" style="padding-bottom: 3% !important"></div-->

	    </div>
