<div class="main">
    <div class="shop_top">
      <div class="container">


		<div class="container">
		<div class="row" style="col-md-12; text-align:center; padding-bottom: 30pt">
	  	<h1> Your selections are ready</h1>
		</div>

    

			  <!--div class="row">
				<div class="col-md-3 top_box" style="padding-top: 40px">
				  <div class="view view-ninth">
                   <%=image_tag("stockholm-bed.JPG")%>
                  </div>
                  <h4 class="m_4"><a href="#">Stockholm Bed</a></h4>
                  <p class="m_5">$989</p>
                </div>

                <div class="col-md-3 top_box" style="padding-top: 40px">
				  <div class="view view-ninth">
                   <%=image_tag("stockholm-duvet-pillow.JPG")%>
                  </div>
                  <h4 class="m_4"><a href="#">Duvet Cover & Pillowcase</a></h4>
                  <p class="m_5">$49.99</p>
                </div>

                <div class="col-md-3 top_box" style="padding-top: 40px">
				  <div class="view view-ninth">
                   <%=image_tag("stockholm-rug.JPG")%>
                  </div>
                  <h4 class="m_4"><a href="#">Rug</a></h4>
                  <p class="m_5">$199</p>
                </div>

                <div class="col-md-3 top_box" style="padding-top: 40px">
				  <div class="view view-ninth">
                   <%=image_tag("throw-bed.JPG")%>
                  </div>
                  <h4 class="m_4"><a href="#">Throw</a></h4>
                  <p class="m_5">$29.99</p>
                </div>

                <div class="col-md-3 top_box" style="padding-top: 40px">
				  <div class="view view-ninth">
                   <%=image_tag("stockholm-nightstand.JPG")%>
                  </div>
                  <h4 class="m_4"><a href="#">Nightstand</a></h4>
                  <p class="m_5">$99</p>
                </div>

                <div class="col-md-3 top_box" style="padding-top: 40px">
				  <div class="view view-ninth">
                   <%=image_tag("stockholm-floor-lamp.JPG")%>
                  </div>
                  <h4 class="m_4"><a href="#">Floorlamp</a></h4>
                  <p class="m_5">$99</p>
                </div>
			</div-->


			<div class="row">
				<div class="row shop_box-top; padding-top:30%; margin-top: 10%">
	<br><br><br><br>
	<div class="button"><a style="margin-left: 0%;" href="<%= checkout_path() %>">Checkout</a></div>
      </div>

			</div>



		 </div>
	</div>




	
	<input type="hidden" id="selection" name="selection" value="<%= @selection %>" />

	</div>
	</div>
	</div>