<head>
</head>

<body>
  <div class="main">
    <div class="shop_top">
      <div class="container">

	<div class="row" style="col-md-12; text-align:center; padding-bottom: 30pt">
	  <h1> Select colours & design styles you like </h1>
	</div>
	
	<div class="panel">

	<div class="col-md-3 shop_box" style="padding-left:3%;padding-right:3%">
	  <%=image_tag("pic5.jpg")%>
	  <input type="checkbox" id="switch1" name="switch1" class="switch" />
	  <label for="switch1">Color Option A</label>
	</div>

	
	<div class="col-md-3 shop_box" style="padding-left:3%;padding-right:3%">
	  <%=image_tag("pic5.jpg")%>
	  <input type="checkbox" id="switch1" name="switch1" class="switch" />
	  <label for="switch1">Color Option A</label>
	</div>

	
	<div class="col-md-3 shop_box" style="padding-left:3%;padding-right:3%">
	  <%=image_tag("pic5.jpg")%>
	  <input type="checkbox" id="switch1" name="switch1" class="switch" />
	  <label for="switch1">Color Option A</label>
	</div>

	<div class="col-md-3 shop_box" style="padding-left:3%;padding-right:3%">
	  <%=image_tag("pic5.jpg")%>
	  <input type="checkbox" id="switch1" name="switch1" class="switch" />
	  <label for="switch1">Color Option A</label>
	</div>

	<div class="col-md-3 shop_box" style="padding-left:3%;padding-right:3%">
	  <%=image_tag("pic5.jpg")%>
	  <input type="checkbox" id="switch1" name="switch1" class="switch" />
	  <label for="switch1">Color Option A</label>
	</div>
	
	<div class="col-md-3 shop_box" style="padding-left:3%;padding-right:3%">
	  <%=image_tag("pic5.jpg")%>
	  <input type="checkbox" id="switch1" name="switch1" class="switch" />
	  <label for="switch1">Color Option A</label>
	</div>	
	
	</div>
      </div>
      
      <div class="row shop_box-top; padding-top:30%; margin-top: 10%">
	<br><br>
	<div class="button"><a style="margin-left: 0%;" href="<%= selections_path() %>">Make my room!!</a></div>
      </div>

	
      </div>
    </div>
  </div>


</body>

<footer>

</footer>
