<div class="main">
    <div class="shop_top">
      <div class="container">


		<div class="features">
		<div class="container">
			<h3 class="m_3">Picks for your Room</h3>
			<div class="close_but"><i class="close1"> </i></div>
			  

			  <div class="row">
				<div class="col-md-3 top_box" style="padding-top: 40px">
				  <div class="view view-ninth">
                   <%=image_tag("pic5.jpg")%>
                  </div>
                  <h4 class="m_4"><a href="#">Bed</a></h4>
                  <p class="m_5">gusta</p>
                </div>

                <div class="col-md-3 top_box" style="padding-top: 40px">
				  <div class="view view-ninth">
                   <%=image_tag("pic5.jpg")%>
                  </div>
                  <h4 class="m_4"><a href="#">Bed</a></h4>
                  <p class="m_5">gusta</p>
                </div>

                <div class="col-md-3 top_box" style="padding-top: 40px">
				  <div class="view view-ninth">
                   <%=image_tag("pic5.jpg")%>
                  </div>
                  <h4 class="m_4"><a href="#">Bed</a></h4>
                  <p class="m_5">gusta dsfsfdsfsdsdf</p>
                </div>

                <div class="col-md-3 top_box" style="padding-top: 40px">
				  <div class="view view-ninth">
                   <%=image_tag("pic5.jpg")%>
                  </div>
                  <h4 class="m_4"><a href="#">Bed</a></h4>
                  <p class="m_5">gusta</p>
                </div>

                <div class="col-md-3 top_box" style="padding-top: 40px">
				  <div class="view view-ninth">
                   <%=image_tag("pic5.jpg")%>
                  </div>
                  <h4 class="m_4"><a href="#">Bed</a></h4>
                  <p class="m_5">gusta</p>
                </div>

                <div class="col-md-3 top_box" style="padding-top: 40px">
				  <div class="view view-ninth">
                   <%=image_tag("pic5.jpg")%>
                  </div>
                  <h4 class="m_4"><a href="#">Bed</a></h4>
                  <p class="m_5">gusta</p>
                </div>
			</div>


			<div class="row">
				<div class="row shop_box-top; padding-top:30%; margin-top: 10%">
	<br><br><br><br>
	<div class="button"><a style="margin-left: 0%;" href="<%= checkout_path() %>">Checkout</a></div>
      </div>

			</div>



		 </div>
	</div>




	
	<input type="hidden" id="selection" name="selection" value="<%= @selection %>" />

	</div>
	</div>
	</div>