     <style>
          div.banner_button a{
               background-repeat:no-repeat; 
               background-position:70%; 
               background-size:100%;
               font-size: 300%;
               min-width: 70%;
               height: auto;
          }

          div.banner_button a:hover{
               background-repeat:no-repeat; 
               background-position:100%; 
               background-size:100%;
               font-size: 300%;
               min-width: 100%;
               height: auto;
          }


     </style>
     


     <div class="main">

     <br>

     <div class='banner_button'>
     	<a style="background-image:url(<%=image_url("bedroom_button.jpg")%>)" href="<%=styles_path(selection: 'bedroom')%>"> 
     		<p style="color:black">The Bedroom</p> 
		</a>
     </div>

     <br>

     <div class='banner_button'>
          <a style="background-image:url(<%=image_url("living-room_button.jpg")%>)" href="<%=styles_path(selection: 'living room')%>"> 
               <p style="color:black">Living Room</p> 
          </a>
     </div>

  
     <br>
     </div>
