
     <div class="main">

     <br>

     <div class='banner_button'>
     	<a style="background-image:url(<%=image_url("bedroom_button.jpg")%>); background-repeat:no-repeat; background-position:70%; background-size:100%;font-size: 300%" href="<%=styles_path(selection: 'bedroom')%>"> 
     		<p style="color:black">Bedroom</p> 
		</a>
     </div>

     <br>

     <div class='banner_button'>
     	<a style="background-image:url(<%=image_url("living-room_button.jpg")%>); background-repeat:no-repeat; background-position:70%; background-size:100%;font-size: 300%; padding-right: 26.5%; padding-left: 26.5%" href="<%=styles_path(selection: 'living room')%>"> 
     		<p style="color:black">Living Room</p> 
		</a>
     </div>

     <br>

     <br>
