  <div class="main">
    <script type="text/javascript">
    path = "<%= selections_path() %>";
    selectedImages = []

    function addImage(id)
    	{
    	if (selectedImages.indexOf(id) > -1)
    		{
    			var index = selectedImages.indexOf(id);
    			if (index !== -1)
    			{
    				selectedImages.splice(index, 1);
    			}
    		}
    	else
    		{
    		selectedImages.push(id)
    		}
    	}

    function send()
    {
    	window.location = path+"?images="+selectedImages+"&selection=<%= @selection %>"
    }
    </script>	

    <div class="shop_top">
      <div class="container">

	<div class="row" style="col-md-12; text-align:center; padding-bottom: 30pt">
	  <h1> Select objects & design styles you like for your <%= @selection %>.</h1>
	</div>
	
	<input type="hidden" id="selection" name="selection" value="<%= @selection %>" />

	<div class="panel">

	<% @choices.each do |choice| %>
	<div class="col-md-4">
		<div class="shop_box">
		  <input type="checkbox" id=<%=choice.name%> name=<%=choice.name%> onClick="addImage('<%=choice.name%>')" class="imageselectbox"/>

		  <label class="label-for-imageselectbox" for=<%=choice.name%> > 
		  	<%=image_tag(choice.url, :size => "300x200")%> 
		  </label>
		</div>
	</div>
	<% end %>
	
	</div>
      </div>
      
      <div class="row shop_box-top; padding-top:30%; margin-top: 10%">
	<br><br>
	<!-- <div class="button" ><a style="margin-left: 0%;" href="<%= selections_path() %>">Make my room</a></div> -->
	<div class="button" onClick="send()"><a style="margin-left: 0%">Make my room</div> 
      </div>

	
      </div>
    </div>
  </div>