  <div class="main">
    <div class="shop_top">
      <div class="container">

	<div class="row" style="col-md-12; text-align:center; padding-bottom: 30pt">
	  <h1> Select objects & design styles you like for your <%= @selection %>.</h1>
	</div>
	
	<input type="hidden" id="selection" name="selection" value="<%= @selection %>" />

	<div class="panel">

	<% @choices.each do |choice| %>
	<div class="col-md-4">
		<div class="shop_box">
		  <input type="checkbox" id=<%=choice.name%> name=<%=choice.name%> class="imageselectbox"/>

		  <label class="label-for-imageselectbox" for=<%=choice.name%> > 
		  	<%=image_tag(choice.url, :size => "300x200")%> 
		  </label>
		</div>
	</div>
	<% end %>


	<!--div class="col-md-4">
		<div class="shop_box">
		<input type="checkbox" id="Abstract_Art" name="Abstract_Art" class="imageselectbox"/>
		  <label class="label-for-imageselectbox" for="Abstract_Art"><%=image_tag("Abstract_Art.jpg")%></label>
		</div>
	</div>
	
	<div class="col-md-4">
		<div class="shop_box">
		  <input type="checkbox" id="Art-Deco_Arch" name="Art-Deco_Arch" class="imageselectbox"/>
		  <label class="label-for-imageselectbox" for="Art-Deco_Arch"><%=image_tag("Art-Deco_Arch.jpg")%></label>
		</div>
	</div>

	<div class="col-md-4">
		<div class="shop_box">
		  <input type="checkbox" id="Laptop" name="Laptop" class="imageselectbox"/>
		  <label class="label-for-imageselectbox" for="Laptop"><%=image_tag("Laptop.jpg")%></label>
		</div>
	</div>

	<div class="col-md-4">
		<div class="shop_box">
		  <input type="checkbox" id="Tesla" name="Tesla" class="imageselectbox"/>
		  <label class="label-for-imageselectbox" for="Tesla"><%=image_tag("Tesla.jpg")%></label>
		</div>
	</div>

	<div class="col-md-4">
		<div class="shop_box">
		  <input type="checkbox" id="Zen_Garden" name="Zen_Garden" class="imageselectbox"/>
		  <label class="label-for-imageselectbox" for="Zen_Garden"><%=image_tag("Zen_Garden.jpg")%></label>
		</div>
	</div>

	<div class="col-md-4">
		<div class="shop_box">
		  <input type="checkbox" id="India_Pattern" name="India_Pattern" class="imageselectbox"/>
		  <label class="label-for-imageselectbox" for="India_Pattern"><%=image_tag("India_Pattern.jpg")%></label>
		</div>
	</div>

	<div class="col-md-4">
		<div class="shop_box">
		  <input type="checkbox" id="Fresco_Art" name="Fresco_Art" class="imageselectbox"/>
		  <label class="label-for-imageselectbox" for="Fresco_Art"><%=image_tag("Fresco_Art.jpg")%></label>
		</div>
	</div>

	<div class="col-md-4">
		<div class="shop_box">
		  <input type="checkbox" id="Ski_Chalet" name="Ski_Chalet" class="imageselectbox"/>
		  <label class="label-for-imageselectbox" for="Ski_Chalet"><%=image_tag("Ski_Chalet.jpg")%></label>
		</div>
	</div>

	<div class="col-md-4">
		<div class="shop_box">
		  <input type="checkbox" id="Minimalist_Art" name="Minimalist_Art" class="imageselectbox"/>
		  <label class="label-for-imageselectbox" for="Minimalist_Art"><%=image_tag("Minimalist_Art.jpg")%></label>
		</div>
	</div>

	<div class="col-md-4">
		<div class="shop_box">
		  <input type="checkbox" id="RR_Phantom" name="RR_Phantom" class="imageselectbox"/>
		  <label class="label-for-imageselectbox" for="RR_Phantom"><%=image_tag("RR_Phantom.jpg")%></label>
		</div>
	</div-->
	
	</div>
      </div>
      
      <div class="row shop_box-top; padding-top:30%; margin-top: 10%">
	<br><br>
	<div class="button"><a style="margin-left: 0%;" href="<%= selections_path(selectedStyleChoices: , selection: "<%= @selection %>") %>">Make my room!</a></div>
      </div>

	
      </div>
    </div>
  </div>